@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #dce0cb;
}

.container {
  width: 50%;
  margin: 1em auto;
  min-height: 100vh;
}

.container:hover .fa-plus {
  color: #3b8b45;
}

.container:hover h3 {
  color: #3b8b45;
}

h1 {
  line-height: 2em;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-top: 0.1rem solid black;
}

h3 {
  font-size: 1.4em;
  line-height: 1.4em;
  transition: color 0.3s;
}

.fa-plus {
  color: transparent;
  font-size: 1.4em;
  transition: all 0.3s;
}

.btn__closed {
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
}

.container:hover .btn__closed {
    opacity: 1;
}

.container:active .btn__closed {
  transform: rotate(40deg);
}

.meme:hover {
  cursor: pointer;
}

.meme:active {
  cursor: no-drop;
}

.meme:hover .fa-plus {
  transform: rotate(45deg);
}

input {
  appearance: none;
}

input:checked ~ .img__container {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: all 1s;
}

input:hover ~ .img__container {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: all 1s;
} 

input:checked ~ .title h3 {
  color: #3b8b45;
}

input:checked ~ .title .fa-plus {
  transform: rotate(45deg);
}

.img__container {
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 1s;
}

.img__block {
  width: 35%;
  margin: 0 auto;
}

img {
  width: 100%;
}

@media (max-width: 850px) {
    h3 {
        font-size: 1rem;
    }
    .btn__closed {
        font-size: 1rem;
    }
}


@media (max-width: 650px) {
    h3 {
        font-size: 0.4rem;
    }
    .btn__closed {
        font-size: 0.4rem;
    }
}